:root {
  --color-primary-ocean-blue: #0072ce;

  --color-greyscale-white: #ffffff;

  --color-link-default: var(--color-primary-ocean-blue);
}

.site-title img {
  height: 24px;
  width: auto;
}

a {
  color: var(--color-link-default);
}

a[aria-current="page"] {
  color: var(--color-greyscale-white);
  background-color: var(--color-primary-ocean-blue);
}

.sl-link-button.primary {
  background-color: var(--color-primary-ocean-blue);
  color: var(--color-greyscale-white);
}

/* .token-table {
  width: 100%;
}

.pixel-value {
  background: #f5f5f5;
  padding: 2px 4px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 14px;
} */

.primitive {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #eeeeee;
  font-size: 14px;
  padding: 4px;
  border-radius: 8px;
  line-height: 24px;
  height: 24px;
}

.token-icon {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  line-height: 12px;
}