---
const { embedHeight = 480, designLink, devModeLink } = Astro.props;
---

<section class="figmaEmbed not-content">
  <iframe
    style="border: 1px solid rgba(0, 0, 0, 0.1);" 
    width="100%"
    height={ embedHeight }
    src={`https://www.figma.com/embed?embed_host=share&url=${encodeURIComponent(designLink)}`}
    allowfullscreen>
  </iframe>
<div class="figmaLinks">
    <a href={ designLink } target="_blank" rel="noopener">Open in Figma Design</a>
    <a href={ devModeLink } target="_blank" rel="noopener">Open in Figma Dev Mode</a>
  </div>
</section>

<style>
  .figmaEmbed {
    display: flex;
    flex-direction: column;
  }

  iframe {
    box-sizing: border-box
  }

  .figmaLinks {
    padding: 16px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
</style>
